.what-we-look-for-card {
  background: var(--bs-info);
  border-radius: 12px;
  height: 100%;
  mix-blend-mode: screen;
}

.what-we-look-for-icon {
  max-height: 60px;
  max-width: 60px;
}

@media ( min-width : 992px ) {

  .what-we-look-for-icon {
    max-height: 152px !important;
    max-width: 152px !important;
  }
}

