@font-face {
	font-family: "SegoeUI";
	src: url("../fonts/SegoeUILight.woff2") format('woff2');
	font-weight: 100;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: "SegoeUI";
	src: url("../fonts/SegoeUISemiLight.woff2") format('woff2');
	font-weight: 200;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: "SegoeUI";
	src: url("../fonts/SegoeUINormal.woff2") format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: "SegoeUI";
	src: url("../fonts/SegoeUISemibold.woff2") format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'SegoeUI';
	src: url(../fonts/SegoeUIBold.woff2) format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'SegoeUI';
	src: url(../fonts/SegoeUIBlack.woff2) format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: auto;
}