/* stylelint-disable selector-pseudo-element-colon-notation */
.how-we-invest-section .how-we-invest-card-icon-container {

  /* background: url('../../../../img/greymatter-what-we-look-for-background.webp') center / cover no-repeat; */

  /* border: 2px solid var(#7fa0ad); */
  height: 20vw;
  margin: auto;

  /* margin-top: 0.8em; */
  min-height: 5.5rem;
  min-width: 5.5rem;
  padding: 0 !important;
  width: 20vw;
}

.how-we-invest-section .how-we-invest-first-card {

  /* background: url('../../../../img/greymatter-what-we-look-for-background.webp') center / cover no-repeat; */

  /* border: 2px solid var(#7fa0ad); */
  height: 20vw;
  margin: auto;
  min-height: 5.5rem;
  min-width: 5.5rem;
  padding: 0.5em;
  width: 20vw;
}

.how-we-invest {
  max-width: 1200px !important;
}

.how-we-invest-section {
  background-color: var(--light-grey);
}

/* .how-we-invest-title {
  color: var(--light-blue);
} */

.how-we-invest-text {
  font-size: 0.5rem;
  line-height: normal;
  margin: auto;

  /* max-width: 290px; */

  /* font-weight: 700; */
  padding: 0 !important;
}

.how-we-invest-card {
  margin: 0 20px;
  max-width: 340px;
}

/* .how-we-invest-text > p {
  letter-spacing: 0 !important;
} */

/* .css-1vs3jbz:not( :last-of-type ) > .arrow-box::after {
  border: solid #0249af;
  border-width: 0 10px 10px 0;
  content: '';
  display: inline-block;
  padding: 10px;
  position: absolute;
  top: 1.4em;
  transform: translateX(-40%) rotate(45deg);
  z-index: 10;
}

.css-1vs3jbz:last-of-type > .arrow-box::before {
  border: solid #0249af;
  border-width: 0 10px 10px 0;
  content: '';
  display: inline-block;
  padding: 10px;
  position: absolute;
  top: 1.4em;
  transform: translateX(-58%) rotate(45deg);
  z-index: 10;
} */

/* .css-1vs3jbz:not( :last-of-type ) > .arrow-box::after {
  border: solid #4a94c4;
  border-radius: 50%;
  border-width: 0.17em;
  content: '';
  display: inline-block;
  padding: 0.17em;
  position: absolute;
  top: 2.7em;
  transform: translateX(-37%) rotate(45deg);
  z-index: 10;
} */

/* .css-1vs3jbz:last-of-type > .arrow-box::before {
  border: solid #4a94c4;
  border-radius: 50%;
  border-width: 0.3rem;
  content: '';
  display: inline-block;
  padding: 0.2em;
  position: absolute;
  top: 2.7em;
  transform: translateX(-58%) rotate(45deg);
  z-index: 10;
} */

@media ( min-width : 768px ) {

  /* .how-we-invest-card-icon-container-icon {
    max-height: 7rem !important;
    max-width: 7rem !important;
  } */

  .how-we-invest-text {
    font-size: 1rem;
  }
}

@media ( min-width : 992px ) {

  .how-we-invest-text {
    font-size: 1.4rem;
  }

  .how-we-invest-section .how-we-invest-card-icon-container {
    height: 5em;
    min-height: 4em;
    min-width: 4em;
    padding: 0.2em;
    width: 5em;
  }

  .how-we-invest-section .how-we-invest-first-card {
    height: 7.5em;
    min-height: 6em;
    min-width: 6em;
    padding: 0.2em;
    width: 7.5em;
  }

}

/* @media ( min-width : 768px ) {

  .how-we-invest-section .how-we-invest-card-icon-container {
    padding: 1em;
  }

} */

/* .how-we-invest-card-icon-container-icon {
  max-height: 5.5rem;
  max-width: 5.5rem;
} */
