.how-we-invest {
  max-width: 1200px !important;
}

.how-we-invest-section {
  background-color: var(--light-grey);
}

.how-we-invest-section .how-we-invest-card-icon-container {
  height: 12vw;
  margin: auto;
  min-height: 5.5rem;
  min-width: 5.5rem;
  padding: 0 !important;
  width: 12vw;
}

.how-we-invest-section .how-we-invest-first-card {
  height: 18vw;
  margin: auto;
  min-height: 7rem;
  min-width: 7rem;
  width: 18vw;
}

.css-1vs3jbz:not( :last-of-type ) > .arrow-box:after {
  border: solid #7fa0ad;
  border-radius: 50%;
  border-width: 0.2rem;
  content: '';
  display: inline-block;
  padding: 0.25rem;
  position: absolute;
  top: 3.5rem;
  transform: translateX(-38%) rotate(45deg);
  z-index: 10;
}

.css-1vs3jbz:last-of-type > .arrow-box:before {
  border: solid #7fa0ad;
  border-radius: 50%;
  border-width: 0.2rem;
  content: '';
  display: inline-block;
  padding: 0.25rem;
  position: absolute;
  top: 3.5rem;
  transform: translateX(-58%) rotate(45deg);
  z-index: 10;
}

.how-we-invest-section .how-we-invest-card {
  margin: auto;
  margin-top: 1rem;
  max-width: 340px;
}

.how-we-invest-section .how-we-invest-text {
  padding: 0 !important;
}

.how-we-invest-section .how-we-invest-text > p {
  font-size: 1rem;
  letter-spacing: 0;
}

/* Media query para tamanho tablet */

@media ( min-width : 768px ) {

  .how-we-invest-section .how-we-invest-text > p {
    font-size: 1.3rem !important;
    letter-spacing: 0.03rem !important;
  }

}

/* Media query para tamanho desktop */

@media ( min-width : 992px ) {

  .how-we-invest-section .how-we-invest-text > p {
    font-size: 1.4rem !important;
  }

  .css-1vs3jbz:last-of-type > .arrow-box:before {
    top: 5.5rem;
  }

  .css-1vs3jbz:not( :last-of-type ) > .arrow-box:after {
    top: 5.5rem;
  }

  .how-we-invest-section .how-we-invest-card-icon-container {
    max-height: 7rem;
    max-width: 7rem;
  }

  .how-we-invest-section .how-we-invest-first-card {
    max-height: 10rem;
    max-width: 10rem;
  }

}
