$font-size: 0.95rem;
$line-height: 1.4;
$lines-to-show: 2;

.community-card-position {
  color: var(--bs-light);
  display: block;
  display: -webkit-box;
  letter-spacing: 0.06rem;
  text-align: center;
  height: $font-size * $line-height * $lines-to-show;
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
