footer {
  width: 100%;
}

.footer-vr1-logo-text {
  line-height: 1.2rem;
  padding-top: 1rem;
  width: 350px;
}

.footer-email-input {
  height: 100%;
  max-width: 400px;
}

.footer-subscribe-form {
  width: 100%;
}

.footer-subscription-text {
  max-width: 360px;
}

.footer-linkedin-icon {
  color: white;
  width: 32px;
}
