/* .hero-background {
  background: url("vr1-hero-image.jpg") top / auto no-repeat;
}

@media (min-width: 2000px) {
  .hero-background {
    background-size: 100vw !important;
  }
} */

#root {
  width: 100%;
}

.gray-matter-row {
  max-width: 500px;
}

@media ( min-width : 992px ) {

  .gray-matter-row {
    max-width: 800px !important;
  }
}

@media ( min-width : 992px ) {

  .hero-text {
    align-items: center;
    display: flex;
    height: 165px;
    width: auto;

    /* font-size: 1.33rem !important;
    line-height: 2.06rem !important; */
  }
}

.hero-text {
  color: rgba(var(--bs-light-rgb), var(--bs-text-opacity));

  /* font-size: 1rem; */
}

.hero-subtitle-text {
  font-weight: 900;
}

.hero-subtitle-container {
  height: 80px;
  width: auto;
}

/* @media (min-height: 1200px) and (max-width: 2300px) {
  .the-world-economy-text {
    color: var(--bs-primary) !importantimportant;
  }
} */

/* @media ( min-width : 992px ) {

  .the-world-economy-text {
    font-size: 1.7rem !important;
  }
} */

@media ( min-width : 992px ) {

  .hero-subtitle-row {
    width: 800px !important;
  }
}

.hero-subtitle-row {
  width: 500px;
}

.gray-matter-logo {
  max-width: 17rem;
}

.gray-matter-logo-lg {
  height: 100%;
  padding-top: 8px;
}
