#root {
  width: 100%;
}

.gray-matter-row {
  max-width: 500px;
}

@media ( min-width : 992px ) {

  .gray-matter-row {
    max-width: 800px !important;
  }
}

@media ( min-width : 992px ) {

  .hero-text {
    align-items: center;
    display: flex;
    height: 165px;
    width: auto;

    /* font-size: 1.33rem !important;
    line-height: 2.06rem !important; */
  }
}

.hero-navbar-padding {
  padding-top: 70px;
}

.hero-text {
  color: rgba(var(--bs-light-rgb), var(--bs-text-opacity));

  /* font-size: 1rem; */
}

.hero-subtitle-text {
  font-weight: 900;
}

.hero-subtitle-container {
  height: 80px;
  width: auto;
}

@media ( min-width : 992px ) {

  .hero-subtitle-row {
    width: 800px !important;
  }
}

.hero-subtitle-row {
  width: 500px;
}

.gray-matter-logo {
  max-width: 17rem;
}

.gray-matter-logo-lg {
  height: 100%;
  padding-top: 8px;
}

@media ( min-height : 1200px ) and ( max-width : 2300px ) {

  .hero-arrow-down {
    color: var(--bs-primary) !important;
  }
}

.hero-background-image {
  height: calc(var(--vh, 1vh) * 200);
  object-fit: cover;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.hero-background-video {
  height: calc(var(--vh, 1vh) * 100);
  object-fit: cover;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.hero-background-height-limit {
  height: calc(var(--vh, 1vh) * 100) !important;
}

.hero-background-position-top {
  object-position: top;
}
