.hero-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;
  min-height: calc(var(--vh, 1vh) * 100 - 70px);
}

.hero-row {
  width: 500px;
}

@media ( min-width : 992px ) {

  .hero-row {
    width: 1000px !important;
  }
}

@media ( max-width : 992px ) {

  .gray-matter-logo {
    max-height: 150px !important;
  }
}

.gray-matter-logo {

  /* height: 100%; */
  width: 100%;
}

.hero-logo-container {
  padding: 8px;
}

@media ( min-width : 992px ) {

  .hero-logo-container {
    padding-right: 12px !important;
  }
}

@media ( min-width : 992px ) {

  .hero-text {
    align-items: center;
    display: flex;
  }
}

.hero-text {
  color: rgba(var(--bs-light-rgb), var(--bs-text-opacity));
  height: 200px;
}

.hero-subtitle-text {
  font-weight: 900;
}

@media ( min-width : 992px ) {

  .hero-subtitle-container {
    max-width: 800px !important;
  }
}

.hero-subtitle-container {
  height: 80px;
  max-width: 500px;
}

@media ( min-height : 1200px ) and ( max-width : 2300px ) {

  .hero-arrow-down {
    color: var(--bs-primary) !important;
  }
}

.hero-background-image {
  height: calc(var(--vh, 1vh) * 200);
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.hero-background-video {
  height: calc(var(--vh, 1vh) * 100);
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.hero-background-height-limit {
  height: calc(var(--vh, 1vh) * 100) !important;
}

.hero-background-position-top {
  object-position: top;
}
