body {
  font-family: SegoeUI;
  --bs-primary: #7fa0ad;
  --bs-primary-rgb: 127 , 160 , 173;
  --bs-secondary: #516f8b;
  --bs-secondary-rgb: 81 , 111 , 139;
  --bs-light: #fff;
  --bs-light-rgb: 255 , 255 , 255;
  --bs-dark: #17365d;
  --bs-dark-rgb: 23 , 54 , 93;
  --bs-body-color: #7fa0ad;
  --bs-body-font-size: 1.43rem;
  --bs-info: #2b5667;
  --bs-info-rgb: 43 , 86 , 103;
}

p {
  letter-spacing: 0.03em;
  margin-bottom: 0;
}

main {
  width: 100%;
}

header {
  padding-top: 70px;
}

@media ( max-width : 575px ) {

  .navbar {
    background: rgba(255, 255, 255, 0.07);
  }
}

.navbar-greymatter {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 1000 !important;
}

.link {
  color: var(--bs-light) !important;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-decoration: none;

  /* padding-right: 1.5rem !importantimportant; */

  /* padding-left: 1.5rem !importantimportant; */
}

.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;
  min-height: calc(var(--vh, 1vh) * 100);
}

.section-title {
  font-weight: 900;
}

.arrow-down {
  font-size: 4.5rem;
}

@media ( min-height : 1200px ) and ( max-width : 2300px ) {

  .hero-arrow-down {
    color: var(--bs-primary) !important;
  }
}

.section-container {
  max-width: 350px !important;
}

@media ( min-width : 992px ) {

  .card-text {
    font-size: 1.4rem !important;
  }
}

.card-text {
  font-size: 1rem;
}

/* .spacer {
  visibility: hidden;
}

@media (min-width: 992px) {
  .spacer {
    visibility: visible;
  }
} */

@media ( max-width : 760px ) {

  .what-we-look-for-title {
    font-size: 2rem !important;
  }
}

@media ( min-width : 992px ) {

  .what-do-we-offer-card-text {
    font-size: 1.4rem !important;
  }
}

.what-do-we-offer-card-text {
  color: var(--bs-secondary);
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
}

@media ( min-width : 992px ) {

  .what-do-we-offer-card {
    padding: 2rem !important;
  }
}

.what-do-we-offer-card {
  border: 0.2rem solid var(--bs-primary);
  border-radius: 1rem;
  height: 100%;
}

@media ( min-width : 992px ) {

  .wha-do-we-offer-card-icon {
    max-height: 6rem !important;
    max-width: 6rem !important;
  }
}

.wha-do-we-offer-card-icon {
  max-height: 4rem;
  max-width: 4rem;
}

.team-section {
  background: url('../img/greymatter-what-we-look-for-background.webp') bottom / cover no-repeat;
  background-blend-mode: overlay;
  background-color: var(--bs-dark);
  transform: rotate(180deg);
}

@media ( min-width : 992px ) {

  #team-container {
    max-width: 1000px !important;
  }
}

#team-container {
  max-width: 650px;
  transform: rotate(180deg);
}

.team-photo {
  border-radius: 50%;
  max-height: 200px;
  max-width: 200px;
}

.community-card-name {
  color: var(--bs-primary);
  letter-spacing: 0.06rem;
}

.team-text {
  color: var(--bs-light);
  letter-spacing: 0.06rem;
}

.application-btn {
  font-weight: 600 !important;
  padding: 1rem 3rem !important;
}

footer {
  width: 100%;
}

.footer-vr1-logo-text {
  line-height: 1.2rem;
  padding-top: 1rem;
  width: 350px;

  /* margin-bottom: -5px; */
}

.footer-email-input {
  height: 100%;
  max-width: 400px;
}

.footer-subscribe-form {
  width: 100%;
}

.btn {
  padding: 0.5rem 1.5rem;
}

.footer-subscription-text {
  max-width: 360px;
}

.link:hover {
  color: var(--bs-primary) !important;
}

.semi-bold {
  font-weight: 600 !important;
}

.link.footer-links {
  padding: 0 !important;
}

.section.application-section {
  min-height: calc(var(--vh, 1vh) * 80) !important;
}

.top {
  background: var(--bs-dark);
  border-radius: 50%;
  height: 60px;
  position: absolute;
  width: 60px;
}

.nav-item-link {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.pt-6 {
  padding-top: 5rem !important;
}
