.what-we-look-for-section {
  background: url('../img/greymatter-what-we-look-for-background.webp') center / cover space;
}

.what-we-look-for-card {
  background: var(--bs-info);
  border-radius: 12px;
  height: 100%;
  mix-blend-mode: screen;
}

