.what-we-look-for-card {
  background: var(--bs-info);
  border-radius: 12px;
  height: 100%;
  mix-blend-mode: screen;
}

@media ( max-width : 760px ) {

  .what-we-look-for-title {
    font-size: 2rem !important;
  }
}

